

@using BudgetApp.Models
@model FormsViewModel

    @foreach(CreditCard creditCard in Model.CreditCards)
{
    <div id="creditCard-@creditCard.CreditCardId" class="card me-0 ms-0 mt-0 mb-3 pb-1 text-md-start text-light creditCardInfo">
        <!-- Credit Card Info -->
        <div id="creditCardInfo-@creditCard.CreditCardId" class="card-body pb-0">
            <!-- Credit Card Name & Buttons-->
            <div class="row">
                <div class="col-9 align-self-center">
                    <div id="creditCardName-@creditCard.CreditCardId">
                        <button class="buttonEditable mb-1" onclick="showCreditCardNameForm(@creditCard.CreditCardId)">
                            <h5 class="text-light h5Editable"><i class="bi bi-credit-card"></i> @creditCard.Name</h5>
                        </button>
                    </div>
                    <div id="creditCardNameForm-@creditCard.CreditCardId" class="hiddenElement">
                        <form id="creditCardForm-@creditCard.CreditCardId" onsubmit="updateCreditCard(@creditCard.CreditCardId)" class="transparentForm">
                            <div class="creditCardH5Input">
                                <input id="creditCardNameValue-@creditCard.CreditCardId" form="creditCardForm-@creditCard.CreditCardId" value="@creditCard.Name" type="text" required>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-3">
                    <button id="deleteCreditCardBtn-@creditCard.CreditCardId" onclick="showDeleteCreditCard(@creditCard.CreditCardId)" type="button" class="btn btn-outline-danger float-end btn-sm"><i class="bi bi-trash"></i></button>
                    <div id="updateCreditCardBtns-@creditCard.CreditCardId" class="hiddenElement">
                        <button id="updateCreditCardBtn-@creditCard.CreditCardId" type="submit" form="creditCardForm-@creditCard.CreditCardId" class="btn btn-outline-light float-end btn-sm me-1">Save</button>
                    </div>
                   
                </div>
            </div>
            
            
            <!-- Credit Card Amount owed and credit limit-->
            <div class="row justify-content-start mb-2">
                <div class="col-12 align-self-center">
                    <button class="buttonEditable " onclick="showPaymentForm(@creditCard.CreditCardId)">
                        <p id="displayAmountOwed-@creditCard.CreditCardId" class="text-danger fs-3 mb-0 pEditable"></p>
                    </button>
                </div>

                <!-- Credit Limit -->
                <div class="col-6 align-self-center">
                    <div id="creditCardLimit-@creditCard.CreditCardId">
                        <button class="buttonEditable" onclick="showCreditCardLimitForm(@creditCard.CreditCardId)">
                            <p class="text-light pEditable mb-0">$@creditCard.CreditLimit</p>
                        </button>
                    </div>
                    
                    <div id="creditCardLimitForm-@creditCard.CreditCardId" class="hiddenElement">
                        <small class="text-light">
                            <strong>Credit Limit:</strong> <br />
                        </small>
                        <form class="transparentForm">
                            <div class="creditCardPInput">
                                <input id="creditCardLimitValue-@creditCard.CreditCardId" value="@creditCard.CreditLimit" type="text">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Credit Card Cut-Off & Due dates -->
            <div class="card-footer text-light">
                <div class="row justify-content-between">
                    <div class="col-6 px-0">
                        <!-- Current  Cut-Off Date-->

                        <small class="text-light">
                            <strong>Cut-Off On:</strong> <br />
                        </small>
                        <div id="creditCardCurrentCutOffDate-@creditCard.CreditCardId">
                            <button class="buttonEditable text-start" onclick="showCreditCardDatesForm(@creditCard.CreditCardId)">
                                <small class="text-light smallEditable">
                                    @Html.DisplayFor(model => creditCard.CurrentCutOffDate)
                                </small>
                            </button>
                        </div>
                        <div id="creditCardCurrentCutOffDateForm-@creditCard.CreditCardId" class="hiddenElement">
                            <form class="transparentForm">
                                <div class="creditCardSmallInput">
                                    <input id="creditCardCurrentCutOffDateValue-@creditCard.CreditCardId" value="@creditCard.CurrentCutOffDate.ToString("yyyy-MM-dd")" type="date">
                                </div>
                            </form>
                        </div>

                        <!-- Last Cut-Off Date-->
                        <div id="creditCardLastCutOffDateForm-@creditCard.CreditCardId" class="hiddenElement">
                            <small class="text-light">
                                <strong>Last Cut-Off On:</strong> <br />
                            </small>
                            <form class="transparentForm">
                                <div class="creditCardSmallInput">
                                    <input id="creditCardLastCutOffDateValue-@creditCard.CreditCardId" value="@creditCard.LastCutOffDate.ToString("yyyy-MM-dd")" type="date">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-6">
                        <!-- Due Date -->
                        <small class="text-light">
                            <strong>Due On:</strong> <br />
                        </small>
                        <div id="creditCardDueDate-@creditCard.CreditCardId">
                            <button class="buttonEditable text-start" onclick="showCreditCardDatesForm(@creditCard.CreditCardId)">
                                <small class="text-light smallEditable">
                                    @Html.DisplayFor(model => creditCard.DueDate)
                                </small>
                            </button>
                        </div>
                        <div id="creditCardDueDateForm-@creditCard.CreditCardId" class="hiddenElement">
                            <form class="transparentForm">
                                <div class="creditCardSmallInput">
                                    <input id="creditCardDueDateValue-@creditCard.CreditCardId" value="@creditCard.DueDate.ToString("yyyy-MM-dd")" type="date">
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>     
            </div>  
        </div>
        
        <!-- Pay Credit Card Debt Form-->
        <div id="creditCardPayment-@creditCard.CreditCardId" class="card-body hiddenElement">
            <button onclick="hidePaymentForm(@creditCard.CreditCardId)" class="backButton float-start"><i class="bi bi-arrow-return-left"></i></button>
            <form id="creditCardPaymentForm-@creditCard.CreditCardId" class="m-3 creditCardForm">
                <div class="form-group mb-3 text-center">
                    <h4 class="form-label"><i class="bi bi-credit-card"></i><strong> @creditCard.Name</strong></h4>
                </div>
                <div class="text-center mb-2">
                    <label class="form-label">Amount Paid</label>
                    <div class="creditCardH5Input">
                        <input id="payment-@creditCard.CreditCardId" type="number" required>
                    </div>
                </div>
                <div class="form-group text-center mb-2">
                    <label class="form-label">Amount Owed</label>
                    <p id="amountOwed-@creditCard.CreditCardId" class="card-text fs-3 text-danger mb-1"><strong>$ </strong></p>
                </div>
                
            </form>
            <div class="text-center text-light">
                <button onclick="updatePaymentForm(@creditCard.CreditCardId)" class="btn btn-outline-success me-1">Update</button>
                <button onclick="hidePaymentForm(@creditCard.CreditCardId)" class="btn btn-outline-danger ms-1">Cancel</button>
            </div>
            
        </div>
        <!-- Delete Credit Card confirmation -->
        <div id="creditCardDelete-@creditCard.CreditCardId" class="card-body text-center hiddenElement">
            <h5> Are you sure you want to delete <strong class="text-danger">@creditCard.Name</strong> Credit Card?</h5>
            <button onclick="deleteCreditCard(@creditCard.CreditCardId)" class="btn btn-outline-danger text-light">Confirm</button>
            <button onclick="hideDeleteCreditCard(@creditCard.CreditCardId)" class="btn btn-outline-light text-light">Cancel</button>
        </div>
    </div>
       
}
<div id="creditCard" class="card me-0 ms-0 mt-0 mb-3 text-md-start text-light creditCardInfo">
    <form id="newCreditCardForm" onsubmit="addCreditCard()"> </form>
    <button id="addCreditCardBtn" onclick="showNewCreditCardForm()" class="buttonEditable text-light">
        <i class="bi bi-plus"></i>
    </button>
    <!-- Credit Card Info -->
    <div id="newCreditCard" class="card-body pb-0 hiddenElement">
        <!-- Credit Card Name & Buttons-->
        <div class="row">
            <div class="col-9 align-self-center">
                <div id="creditCardNameForm">
                    <form class="transparentForm">
                        <div class="creditCardH5Input">
                            <lable for="creditCardNameValue"><strong>Credit Card Name:</strong>  </lable>
                            <input id="creditCardNameValue" form="newCreditCardForm" type="text" required>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-3">
                <div id="updateCreditCardBtns">
                    <button type="submit" form="newCreditCardForm" class="btn btn-outline-light float-end btn-sm mb-1 me-1"><i class="bi bi-save"></i></button>
                    <button onclick="cancelCreditCard()" type="button" class="btn btn-outline-danger float-end btn-sm me-1"><i class="bi bi-x"></i></button>
                </div>
            </div>
        </div>
        <!-- Credit Card Amount owed and credit limit-->
        <div class="row justify-content-start mb-2">
            <!-- Credit Limit -->
            <div class="col-6 align-self-center">
                <div id="creditCardLimitForm">
                    <small class="text-light">
                        <strong>Credit Limit:</strong> <br />
                    </small>
                    <form class="transparentForm">
                        <div class="creditCardPInput">
                            <input id="creditCardLimitValue" type="text">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Credit Card Cut-Off & Due dates -->
        <div class="card-footer text-light">
            <div class="row justify-content-between">
                <div class="col-6 px-0">
                    <!-- Current  Cut-Off Date-->
                    <div id="creditCardCurrentCutOffDateForm">
                        <small class="text-light">
                            <strong>Cut-Off On:</strong> <br />
                        </small>
                        <form class="transparentForm">
                            <div class="creditCardSmallInput">
                                <input id="creditCardCurrentCutOffDateValue" type="date">
                            </div>
                        </form>
                    </div>

                    <!-- Last Cut-Off Date-->
                    <div id="creditCardLastCutOffDateForm">
                        <small class="text-light">
                            <strong>Last Cut-Off On:</strong> <br />
                        </small>
                        <form class="transparentForm">
                            <div class="creditCardSmallInput">
                                <input id="creditCardLastCutOffDateValue" type="date">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-6">
                    <!-- Due Date -->
                    <div id="creditCardDueDateForm">
                        <small class="text-light">
                            <strong>Due On:</strong> <br />
                        </small>
                        <form class="transparentForm">
                            <div class="creditCardSmallInput">
                                <input id="creditCardDueDateValue" type="date">
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>








