

@using BudgetApp.Models
@model ExpenseTableViewModel

<h4 class="text-color ms-4 mb-0"><i class="bi bi-credit-card"></i> Credit Cards</h4>
<div id="creditCardsCard" class="card me-0 ms-0 mt-3 mb-4 pe-1 pb-1 text-md-start text-color creditCardContainer">
    <div id="creditCards" class="card-body creditCardContainerBody p-0 ">
        @* New credit Card Form *@
        <div id="creditCard" class="card me-0 ms-0 mt-0 mb-3 p-0 text-md-start text-color new-creditCard-form">
            <form id="newCreditCardForm" class="p-0 m-0"></form>
            <button id="newCreditCardBtn" aria-lable="open new credit card form" class="buttonEditable text-color">
                <i class="bi bi-plus"></i>
            </button>

            <div id="newCreditCard" class="card-body pb-0 hiddenElement">
                <!-- Credit Card Name & Buttons-->
                <div class="row">
                    <div class="col-9 align-self-center">
                        <div id="creditCardNameForm">
                            <form class="transparentForm">
                                <div class="creditCardH5Input">
                                    <lable for="creditCardNameValue"><strong>Credit Card Name:</strong>  </lable>
                                    <input id="creditCardNameValue" form="newCreditCardForm" type="text" required>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-3">
                        <div id="updateCreditCardBtns">
                            <button id="addCreditCardBtn" type="button" class="btnMain float-end btn-sm mb-1 me-1"><i class="bi bi-save"></i></button>
                            <button id="cancelCreditCardBtn" type="button" class="btnDanger float-end btn-sm me-1"><i class="bi bi-x"></i></button>
                        </div>
                    </div>
                </div>
                <!-- Credit Card Amount owed and credit limit-->
                <div class="row justify-content-start mb-2">
                    <!-- Credit Limit -->
                    <div class="col-12 align-self-center">
                        <div class="row align-content-between">

                            <div class="col-6">
                                <div id="creditCardLimitForm">
                                    <small class="text-color">
                                        <strong>Credit Limit:</strong> <br />
                                    </small>
                                    <form class="transparentForm">
                                        <div class="creditCardPInput">
                                            <input id="creditCardLimitValue" type="text">
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="col-6 ps-0">
                                <div id="creditCardColorForm">
                                    <small class="text-color">
                                        <strong>Credit Card Color:</strong> <br />
                                    </small>
                                    <form class="transparentForm">
                                        <div class="creditCardPInput">
                                            <input id="creditCardColorValue" value="" type="color">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Credit Card Cut-Off & Due dates -->
                <div class="card-footer text-color">
                    <div class="row justify-content-between">
                        <div class="col-6 px-0">
                            <!-- Current  Cut-Off Date-->
                            <div id="creditCardCurrentCutOffDateForm">
                                <small class="text-color">
                                    <strong>Cut-Off On:</strong> <br />
                                </small>
                                <form class="transparentForm">
                                    <div class="creditCardSmallInput">
                                        <input id="creditCardCurrentCutOffDateValue" type="date">
                                    </div>
                                </form>
                            </div>

                            <!-- Last Cut-Off Date-->
                            <div id="creditCardLastCutOffDateForm">
                                <small class="text-color">
                                    <strong>Last Cut-Off On:</strong> <br />
                                </small>
                                <form class="transparentForm">
                                    <div class="creditCardSmallInput">
                                        <input id="creditCardLastCutOffDateValue" type="date">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-6">
                            <!-- Due Date -->
                            <div id="creditCardDueDateForm">
                                <small class="text-color">
                                    <strong>Due On:</strong> <br />
                                </small>
                                <form class="transparentForm">
                                    <div class="creditCardSmallInput">
                                        <input id="creditCardDueDateValue" type="date">
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        @foreach (CreditCard creditCard in Model.CreditCards)
        {
            <div data-index="@creditCard.CreditCardId" id="creditCard-@creditCard.CreditCardId" class="card me-0 ms-0 mt-0 mb-3 pb-0 text-md-start text-color creditCardInfo color-hover">
                <!-- Credit Card Info -->
                <div id="creditCardInfo-@creditCard.CreditCardId" class="card-body pb-0 ">
                    <!-- Credit Card Name & Buttons-->
                    <div class="row">
                        <div class="col-9 align-self-center">
                            <div id="creditCardName-@creditCard.CreditCardId">
                                <button class="buttonEditable mb-1">
                                    <h5 class="text-color"><i class="bi bi-credit-card"></i> @creditCard.Name</h5>
                                </button>
                            </div>
                            <div id="creditCardNameForm-@creditCard.CreditCardId" class="hiddenElement">
                                <form id="creditCardForm-@creditCard.CreditCardId" class="transparentForm">
                                    <div class="creditCardH5Input">
                                        <input id="creditCardNameValue-@creditCard.CreditCardId" form="creditCardForm-@creditCard.CreditCardId" value="@creditCard.Name" type="text" required>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-3">
                            <button data-index="@creditCard.CreditCardId" aria-label="delete" id="deleteCreditCardBtn-@creditCard.CreditCardId" type="button" class="btnDanger float-end btn-sm creditCardShowDeleteBtn"><i class="bi bi-trash"></i></button>
                            <button data-index="@creditCard.CreditCardId" aria-label="save" id="updateCreditCardBtn-@creditCard.CreditCardId" type="button" form="creditCardForm-@creditCard.CreditCardId" class="btnMain float-end btn-sm hiddenElement creditCardUpdateBtn"><i class="bi bi-save"></i></button>
                        </div>
                    </div>


                    <!-- Credit Card Amount owed and credit limit-->
                    <div class="row justify-content-start mb-2">
                        <div class="col-12 align-self-center">
                            <button data-index="@creditCard.CreditCardId" class="buttonEditable creditCardShowPaymentBtn">
                                <p id="displayAmountOwed-@creditCard.CreditCardId" class="text-success fs-3 mb-0 pEditable"><strong>MXN $0</strong></p>
                            </button>
                            <button data-index="@creditCard.CreditCardId" aria-label="cancel" id="cancelUpdateCreditCardBtn-@creditCard.CreditCardId" type="button" form="creditCardForm-@creditCard.CreditCardId" class="btn btn-outline-danger float-end btn-sm hiddenElement creditCardCancelUpdateBtn"><i class="bi bi-x"></i></button>
                        </div>

                        <!-- Credit Limit & color -->
                        <div class="col-12 align-self-center mt-2">
                            <div class="row align-content-between">
                                <div class="col-6">
                                    <div id="creditCardLimit-@creditCard.CreditCardId">
                                        <small class="text-color">
                                            <strong>Credit Limit:</strong> <br />
                                        </small>
                                        <button class="buttonEditable">
                                            <p class="text-color mb-0">$@creditCard.CreditLimit</p>
                                        </button>
                                    </div>

                                    <div id="creditCardLimitForm-@creditCard.CreditCardId" class="hiddenElement">
                                        <small class="text-color">
                                            <strong>Credit Limit:</strong> <br />
                                        </small>
                                        <form class="transparentForm">
                                            <div class="creditCardPInput">
                                                <input id="creditCardLimitValue-@creditCard.CreditCardId" value="@creditCard.CreditLimit" type="text">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-6 ps-0">
                                    <div id="creditCardColorForm-@creditCard.CreditCardId" class="hiddenElement">
                                        <small class="text-color">
                                            <strong>Credit Card Color:</strong> <br />
                                        </small>
                                        <form class="transparentForm">
                                            <div class="creditCardPInput">
                                                <input id="creditCardColorValue-@creditCard.CreditCardId" value="#@creditCard.Color" type="color">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                    <!-- Credit Card Cut-Off & Due dates -->
                    <div class="card-footer text-color">
                        <div class="row justify-content-between">
                            <div class="col-6 px-0">
                                <!-- Current  Cut-Off Date-->

                                <small class="text-color">
                                    <strong>Cut-Off On:</strong> <br />
                                </small>
                                <div id="creditCardCurrentCutOffDate-@creditCard.CreditCardId">
                                    <button class="buttonEditable text-start" >
                                        <small class="text-color">
                                            @Html.DisplayFor(model => creditCard.CurrentCutOffDate)
                                        </small>
                                    </button>
                                </div>
                                <div id="creditCardCurrentCutOffDateForm-@creditCard.CreditCardId" class="hiddenElement">
                                    <form class="transparentForm">
                                        <div class="creditCardSmallInput text-color">
                                            <input id="creditCardCurrentCutOffDateValue-@creditCard.CreditCardId" value="@creditCard.CurrentCutOffDate.ToString("yyyy-MM-dd")" type="date">
                                        </div>
                                    </form>
                                </div>

                                <!-- Last Cut-Off Date-->
                                <div id="creditCardLastCutOffDateForm-@creditCard.CreditCardId" class="hiddenElement">
                                    <small class="text-color">
                                        <strong>Last Cut-Off On:</strong> <br />
                                    </small>
                                    <form class="transparentForm">
                                        <div class="creditCardSmallInput">
                                            <input id="creditCardLastCutOffDateValue-@creditCard.CreditCardId" value="@creditCard.LastCutOffDate.ToString("yyyy-MM-dd")" type="date">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-6">
                                <!-- Due Date -->
                                <small class="text-color">
                                    <strong>Due On:</strong> <br />
                                </small>
                                <div id="creditCardDueDate-@creditCard.CreditCardId">
                                    <button class="buttonEditable text-start" >
                                        <small class="text-color">
                                            @Html.DisplayFor(model => creditCard.DueDate)
                                        </small>
                                    </button>
                                </div>
                                <div id="creditCardDueDateForm-@creditCard.CreditCardId" class="hiddenElement">
                                    <form class="transparentForm">
                                        <div class="creditCardSmallInput">
                                            <input id="creditCardDueDateValue-@creditCard.CreditCardId" value="@creditCard.DueDate.ToString("yyyy-MM-dd")" type="date">
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pay Credit Card Debt Form-->
                <div id="creditCardPayment-@creditCard.CreditCardId" class="card-body hiddenElement">
                    <button data-index="@creditCard.CreditCardId" class="backButton float-start creditCardCancelPaymentBtn"><i class="bi bi-arrow-return-left"></i></button>
                    <form id="creditCardPaymentForm-@creditCard.CreditCardId" class="m-3 creditCardForm">
                        <div class="form-group mb-3 text-center">
                            <h4 class="form-label"><i class="bi bi-credit-card"></i><strong> @creditCard.Name</strong></h4>
                        </div>
                        <div class="text-center mb-2">
                            <label class="form-label">Amount Paid</label>
                            <div class="creditCardH5Input">
                                <input id="payment-@creditCard.CreditCardId" type="number" required>
                            </div>
                        </div>
                        <div class="form-group text-center mb-2">
                            <label class="form-label">Amount Owed</label>
                            <p id="amountOwed-@creditCard.CreditCardId" class="card-text fs-3 text-danger mb-1"><strong>$ </strong></p>
                        </div>

                    </form>
                    <div class="text-center text-color">
                        <button data-index="@creditCard.CreditCardId" type="button" class="btn btn-outline-success me-1 creditCardUpdatePaymentBtn">Update</button>
                        <button data-index="@creditCard.CreditCardId" type="button" class="btn btn-outline-danger ms-1 creditCardCancelPaymentBtn">Cancel</button>
                    </div>

                </div>
                <!-- Delete Credit Card confirmation -->
                <div id="creditCardDelete-@creditCard.CreditCardId" class="card-body text-center hiddenElement">
                    <h5> Are you sure you want to delete <strong class="text-danger">@creditCard.Name</strong> Credit Card?</h5>
                    <button data-index="@creditCard.CreditCardId" class="btn btn-outline-danger text-color creditCardDeleteBtn">Confirm</button>
                    <button data-index="@creditCard.CreditCardId" class="btn btn-outline-light text-color creditCardHideDeleteBtn">Cancel</button>
                </div>
            </div>

        }
        
    </div>
</div>
    








