@using BudgetApp.Models.Database
@model ExpenseTableViewModel

<section class="expense-table-section">
    <h3 class="title">Expenses</h3>
    <div class="search-bar-container" aria-label="Table utility bar for adding, deleting & filtering expenses">
        <div class="table-actions-btns-container">
            <button type="button" class="add-btn">+ Add Expense</button>
            <button type="submit" form="expense-delete-form" class="delete-btn" disabled autocomplete="off">Delete Expense</button>
        </div>
        <div class="search-form-input-container">
            <div class="input-container">
                <label for="expense-search-input">Search</label>
                <input id="expense-search-input" data-active="false" name="searchString" type="text" placeholder="House..." form="expense-search-form" />
                <button type="submit" class="search-btn" aria-label="search button" form="expense-search-form">
                    <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                        <path d="M21 21l-6 -6" />
                    </svg>
                </button>
            </div>
            <div class="input-container">
                <label for="expense-search-date-input">Search date</label>
                <input id="expense-search-date-input" data-active="false" name="searchDate" type="date" min="@Model.MinSearchDateInputValue" form="expense-search-form" />
                <button class="search-btn" aria-label="search date button" type="submit" form="expense-search-form">
                    <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                        <path d="M21 21l-6 -6" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="table-container">
        <table class="expense-table">
            <thead>
                <tr>
                    <th>
                        <form id="expense-delete-form"></form>
                        <form id="expense-search-form" class="search-form"></form>
                        <label class="sr-only">Expense check for all visible rows, to make delete expense button available for the deletion of checked rows in table utility bar</label>
                        <input class="master-checkbox" id="expense-master-checkbox" name="master-checkbox" type="checkbox" />
                    </th>
                    <th>
                        <span class="th-content">
                            Type
                            <button class="sort-btn" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" class="svg-top" viewBox="0 0 24 24" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 1.67a2.914 2.914 0 0 0 -2.492 1.403l-8.11 13.537a2.914 2.914 0 0 0 2.484 4.385h16.225a2.914 2.914 0 0 0 2.503 -4.371l-8.116 -13.546a2.917 2.917 0 0 0 -2.494 -1.408z" stroke-width="0" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" class="svg-bottom" viewBox="0 0 24 24" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M20.118 3h-16.225a2.914 2.914 0 0 0 -2.503 4.371l8.116 13.549a2.917 2.917 0 0 0 4.987 .005l8.11 -13.539a2.914 2.914 0 0 0 -2.486 -4.386z" stroke-width="0" />
                                </svg>
                            </button>
                        </span>
                    </th>
                    <th>
                        <span class="th-content">
                            Date
                            <button class="sort-btn" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" class="svg-top" viewBox="0 0 24 24" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 1.67a2.914 2.914 0 0 0 -2.492 1.403l-8.11 13.537a2.914 2.914 0 0 0 2.484 4.385h16.225a2.914 2.914 0 0 0 2.503 -4.371l-8.116 -13.546a2.917 2.917 0 0 0 -2.494 -1.408z" stroke-width="0" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" class="svg-bottom" viewBox="0 0 24 24" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M20.118 3h-16.225a2.914 2.914 0 0 0 -2.503 4.371l8.116 13.549a2.917 2.917 0 0 0 4.987 .005l8.11 -13.539a2.914 2.914 0 0 0 -2.486 -4.386z" stroke-width="0" />
                                </svg>
                            </button>
                        </span>
                    </th>
                    <th>Payment method</th>
                    <th>
                        <span class="th-content">
                            Amount
                            <button class="sort-btn" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" class="svg-top" viewBox="0 0 24 24" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M12 1.67a2.914 2.914 0 0 0 -2.492 1.403l-8.11 13.537a2.914 2.914 0 0 0 2.484 4.385h16.225a2.914 2.914 0 0 0 2.503 -4.371l-8.116 -13.546a2.917 2.917 0 0 0 -2.494 -1.408z" stroke-width="0" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" class="svg-bottom" viewBox="0 0 24 24" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M20.118 3h-16.225a2.914 2.914 0 0 0 -2.503 4.371l8.116 13.549a2.917 2.917 0 0 0 4.987 .005l8.11 -13.539a2.914 2.914 0 0 0 -2.486 -4.386z" stroke-width="0" />
                                </svg>
                            </button>
                        </span>
                    </th>
                    <th class="th-button-container">
                        <div class="btn-container">
                            <button type="button" aria-label="Clear table filters button" class="clear-table-parameters-btn" disabled autocomplete="off">
                                <span class="text">Clear</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="svg" width="28" height="28" viewBox="0 0 24 24" stroke-width="2.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M8 4h12v2.172a2 2 0 0 1 -.586 1.414l-3.914 3.914m-.5 3.5v4l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227" />
                                    <path d="M3 3l18 18" />
                                </svg>
                            </button>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="expense-add-row" aria-hidden="true">
                    <td>
                        <form id="expense-add-form" class="add-form"></form>
                    </td>
                    <td>
                        <label class="sr-only" >Expense type</label>
                        <select class="table-select" name="expenseCategoryId" form="expense-add-form" placeholder="" required tabindex="0">
                            <option value="">- Select type -</option>
                            @foreach (ExpenseCategory expenseCategory in Model.ExpenseCategories)
                            {
                                <option value="@expenseCategory.ExpenseCategoryId">@expenseCategory.Name</option>
                            }
                        </select>
                    </td>
                    <td>
                        <label class="sr-only" >Date</label>
                        <input class="table-input" name="date" form="expense-add-form" type="date" required tabindex="0" />
                    </td>
                    <td>
                        <label class="sr-only" >Payment method</label>
                        <select class="table-select" name="payment" form="expense-add-form" required tabindex="0">
                            <option value="">- Select payment method -</option>
                            @foreach (Account account in Model.Accounts)
                            {
                                <optgroup label="Debit Accounts">
                                    <option value="accountId-@account.AccountId">@account.Name</option>
                                </optgroup>
                            }
                            @foreach (CreditCard creditCard in Model.CreditCards)
                            {
                                <optgroup label="Credit cards">
                                    <option value="creditCardId-@creditCard.CreditCardId">@creditCard.Name</option>
                                </optgroup>
                            }
                            @foreach (Debt debt in Model.Debts)
                            {
                                <optgroup label="Debt options">
                                    <option value="debtId-@debt.DebtId">@debt.Entity</option>
                                </optgroup>
                            }
                        </select>
                    </td>
                    <td>
                        <label class="sr-only" >Amount</label>
                        <input class="table-input" name="amount" form="expense-add-form" type="number" required tabindex="0" placeholder="0"/>
                    </td>
                    <td>
                        <button class="save-btn"  tabindex="0" type="submit" form="expense-add-form">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svg svg-general-size" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 5l0 14" />
                                <path d="M5 12l14 0" />
                            </svg>
                        </button>
                        <button class="cancel-btn"  tabindex="0" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svg svg-general-size" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M18 6l-12 12" />
                                <path d="M6 6l12 12" />
                            </svg>
                        </button>
                    </td>
                </tr>
                @foreach (Expense expense in Model.Expenses)
                {
                    <tr class="expense-data-row">
                        <td>
                            <form id="expense-edit-form-@expense.Id" class="edit-form"></form>
                            <input name="id" hidden value="@expense.Id" form="expense-edit-form-@expense.Id"/>
                            <label class="sr-only">Expense check, to allow deletion of expense</label>
                            <input class="row-checkbox" name="row-checkbox" form="expense-delete-form" value="@expense.Id" type="checkbox" />
                        </td>
                        <td>
                            <span class="td table-data-type">@expense.ExpenseCategory.Name</span>
                            <label class="sr-only" aria-hidden="true">Expense type</label>
                            <select class="table-select" name="expenseCategoryId" aria-hidden="true" form="expense-edit-form-@expense.Id" placeholder="" required tabindex="-1">
                                <option value="">- Select type -</option>
                                @foreach (ExpenseCategory expenseCategory in Model.ExpenseCategories)
                                {
                                    if (expenseCategory.ExpenseCategoryId == expense.ExpenseCategoryId)
                                    {
                                        <option selected value="@expenseCategory.ExpenseCategoryId">@expenseCategory.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@expenseCategory.ExpenseCategoryId">@expenseCategory.Name</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <span class="td table-data-date">@expense.Date.ToString("MMM dd, yyyy")</span>
                            <label class="sr-only" aria-hidden="true">Date</label>
                            <input class="table-input" name="date" value="@expense.Date.ToString("yyyy-MM-dd")" aria-hidden="true" form="expense-edit-form-@expense.Id" type="date" required tabindex="-1" />
                        </td>
                        <td>
                            @if (expense.Account != null)
                            {
                                <span class="td table-data-method">@expense.Account.Name</span>
                                <span class="td payment-method-type"> Debit</span>
                            }
                            @if (expense.CreditCard != null)
                            {
                                <span class="td table-data-method" style="background-color: #@expense.CreditCard.Color">@expense.CreditCard.Name</span>
                                <span class="td payment-method-type"> Credit</span>
                            }
                            @if (expense.Debt != null)
                            {
                                <span class="td table-data-method">@expense.Debt.Entity</span>
                                <span class="td payment-method-type"> Debt</span>
                            }
                            <label class="sr-only" aria-hidden="true">Payment method</label>
                            <select class="table-select" name="payment" aria-hidden="true" form="expense-edit-form-@expense.Id" required tabindex="-1">
                                <option value="">- Select payment method -</option>
                                @foreach(Account account in Model.Accounts)
                                {
                                     <optgroup label="Debit Accounts">
                                    @if (account.AccountId == expense.AccountId)
                                    {
                                        <option selected value="accountId-@account.AccountId">@account.Name</option>
                                    }
                                    else
                                    {
                                        <option value="accountId-@account.AccountId">@account.Name</option>
                                    }
                                    </optgroup>
                                }
                                @foreach (CreditCard creditCard in Model.CreditCards)
                                {
                                    <optgroup label="Credit cards">
                                    @if (creditCard.CreditCardId== expense.CreditCardId)
                                    {
                                        <option selected value="creditCardId-@creditCard.CreditCardId">@creditCard.Name</option>
                                    }
                                    else
                                    {
                                        <option value="creditCardId-@creditCard.CreditCardId">@creditCard.Name</option>
                                    }
                                    </optgroup>
                                }
                                @foreach (Debt debt in Model.Debts)
                                {
                                    <optgroup label="Debt options">
                                    @if (debt.DebtId== expense.DebtId)
                                    {
                                        <option selected value="debtId-@debt.DebtId">@debt.Entity</option>
                                    }
                                    else
                                    {
                                        <option value="debtId-@debt.DebtId">@debt.Entity</option>
                                    }
                                    </optgroup>
                                }
                            </select>
                        </td>
                        <td>
                            <span class="td table-data-amount">$ @expense.Amount</span>
                            <label class="sr-only" aria-hidden="true">Amount</label>
                            <input class="table-input" name="amount" value="@expense.Amount" aria-hidden="true" form="expense-edit-form-@expense.Id" type="number" required tabindex="-1" />
                        </td>
                        <td>
                            <button class="edit-btn" aria-hidden="false" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" class="svg svg-general-size" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                                    <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                                    <path d="M16 5l3 3"></path>
                                </svg>
                            </button>
                            <button class="details-btn" aria-hidden="false" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" class="svg svg-general-size" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M13 5h8" />
                                    <path d="M13 9h5" />
                                    <path d="M13 15h8" />
                                    <path d="M13 19h5" />
                                    <path d="M3 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
                                    <path d="M3 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
                                </svg>
                            </button>
                            <button class="save-btn" aria-hidden="true" tabindex="-1" type="submit" form="expense-edit-form-@expense.Id">
                                <svg xmlns="http://www.w3.org/2000/svg" class="svg svg-general-size" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M5 12l5 5l10 -10" />
                                </svg>
                            </button>
                            <button class="cancel-btn" aria-hidden="true" tabindex="-1" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" class="svg svg-general-size" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M18 6l-12 12" />
                                    <path d="M6 6l12 12" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="table-pagination-container">
            <p class="page-info">Showing 1-3 of 28 expenses</p>
            <nav class="pagination-nav">
                <ul class="pagination-btn-list">
                    <li class="list-btn">
                        <button class="pagination-btn-svg">Prev</button>
                    </li>
                    <li class="list-btn">
                        <button class="pagination-btn">1</button>
                    </li>
                    <li class="list-btn">
                        <button class="pagination-btn">2</button>
                    </li>
                    <li class="list-btn">
                        <button class="pagination-btn">3</button>
                    </li>
                    <li class="list-btn">
                        <button class="pagination-btn">4</button>
                    </li>
                    <li class="list-btn">
                        <button class="pagination-btn">5</button>
                    </li>
                    <li class="list-btn">
                        <button class="pagination-btn-svg">Next</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>




@{
}
