@using BudgetApp.Models
@model ViewModel

@{
    string tablePluralName = string.Empty;
    string tableName = Model.TableName;
    string tableNameCap = char.ToUpper(tableName[0]) + tableName.Substring(1);
    tablePluralName = tableName == "income" ? tablePluralName = "Incomes" : tablePluralName = "Expenses";

    DateTime today = DateTime.Today;
    string inputDateToday = today.ToString("yyyy-MM-dd");
}

<div class="card @(tableName + "-table-card") table-card text-color">
    <div class="container-fluid p-0 my-2">
        <div class="table-settings row row-cols-auto justify-content-between p-0">
            <div class="col align-self-center">
                <div class="ms-3">
                    @if (Model.TableName == "income")
                    {
                        <h3 class="text-success-color mb-0 ">@tablePluralName </h3>
                    }
                    else
                    {
                        <h3 class="text-danger-color mb-0 ">@tablePluralName </h3>
                    }
                </div>
            </div>
            
            <form id=@(Model.TableName + "SearchForm") class="col ms-4">
                <div class="container p-0">
                    <div class="row">
                        <div class="col-12 col-lg-auto px-1">
                            <div class="table-label-input-block">
                                <label for=@(Model.TableName + "SearchInput")>Search</label>
                                <input id=@(Model.TableName + "SearchInput") name="search" form=@(Model.TableName + "SearchForm") type="text" value="" placeholder="Search..." />
                            </div>
                        </div>
                        <div class="col-12 col-lg-auto px-1">
                            <div class="table-label-input-block">
                                <label for=@(Model.TableName + "SearchDateInput")>Search Date</label>
                                <input id=@(Model.TableName + "SearchDateInput") class="search-date-input" form=@(Model.TableName + "SearchForm") name="searchDate" type="date" value="" min="@Model.MinDateInput" />
                            </div>
                        </div>
                        <div class="col-12 col-lg-auto mt-2 px-1 align-self-end">
                            <button class="btn-general me-1" aria-label="search" type="submit" form="@(Model.TableName + "SearchForm")"><i class="bi bi-search"></i></button>
                            <button id=@(Model.TableName + "ClearBtn") class="btn-general" aria-label="Clear filters" type="button">Clear All</button>
                        </div>
                    </div>
                </div>
            </form>

            <form id=@(Model.TableName + "PageSizeForm") class="col ms-4 justify-content-end table-page-size-form">
                <div class="container p-0">
                    <div class="row">
                        <div class="col-auto px-1">
                            <div class="table-label-input-block">
                                <label for=@(Model.TableName + "PageSizeSelect") >Show @tablePluralName</label>
                                <select id=@(Model.TableName + "PageSizeSelect") class="text-color" form=@(Model.TableName + "PageSizeForm") name="pageSize" required>
                                    <option selected value="2">2 @tablePluralName</option>
                                    <option value="5">5 @tablePluralName</option>
                                    <option value="10">10 @tablePluralName</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-auto px-1 me-4 align-self-end">
                            <button class="btn-general" form=@(Model.TableName + "PageSizeForm") type="submit">Show</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="scrollable-table mx-3">

            <table id=@(Model.TableName + "Table") class="text-color generalTable mt-0 mb-2">
                <thead>
                    <tr>
                        <th data-cell="Amount">Amount</th>
                        <th data-cell="Date">Date</th>
                        <th data-cell="Category">Category</th>
                        @if (Model.TableName == "income")
                        {
                            <th data-cell="Account">Account</th>
                        }
                        else
                        {
                            <th data-cell="Payment">Payment</th>
                        }
                        <th data-cell="Description">Description</th>
                        <th data-cell="Action">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id=@(Model.TableName + "CreateFormRow")>
                        <td>
                            <input name="Amount" value="" type="number" step="0.01" min="1" placeholder="100" form="@(Model.TableName + "CreateForm")" required />
                        </td>
                        <td>
                            <input name="Date" value="@inputDateToday" type="date" form="@(Model.TableName + "CreateForm")" required />
                        </td>
                        <td>
                            <select name="CategoryId" form="@(Model.TableName + "CreateForm")" required>
                                <option value="">-Select Category</option>
                                @if (Model.TableName == "income")
                                {
                                    foreach (IncomeCategory incomeCategory in Model.IncomeCategories)
                                    {
                                        <option value="@incomeCategory.IncomeCategoryId">@incomeCategory.Name</option>
                                    }
                                }
                                else
                                {
                                    foreach (ExpenseCategory expenseCategory in Model.ExpenseCategories)
                                    {
                                        <option value="@expenseCategory.ExpenseCategoryId">@expenseCategory.Name</option>
                                    }
                                }
                            </select>
                        </td>
                        @if (Model.TableName == "income")
                        {
                            <td>
                                <select name="AccountId" form="@(Model.TableName + "CreateForm")" required>
                                    <option value="">--Account--</option>
                                    @foreach (Account account in Model.Accounts)
                                    {
                                        <option value="@account.AccountId">@account.Name</option>
                                    }
                                </select>
                            </td>
                        }
                        else
                        {
                            <td>
                                <select id="paymentSelectList" name="" form="@(Model.TableName + "CreateForm")" required>
                                    <option value="">--Select Account--</option>
                                    @foreach (Account account in Model.Accounts)
                                    {
                                        <option data-name="AccountId" value="@account.AccountId">@account.Name</option>

                                    }
                                    <option value="">--Select Credit Card--</option>
                                    @foreach (CreditCard creditCard in Model.CreditCards)
                                    {
                                        <option data-name="CreditCardId" value="@creditCard.CreditCardId">@creditCard.Name</option>
                                    }
                                    <option value="">--Select Debt--</option>
                                    @foreach (Debt debt in Model.Debts)
                                    {
                                        <option data-name="DebtId" value="@debt.DebtId">@debt.Entity</option>

                                    }
                                </select>
                            </td>
                        }

                        <td>
                            <input name="Description" placeholder="gas for car" value="" type="text" form="@(Model.TableName + "CreateForm")" />
                        </td>
                        <td data-cell="Action">
                            <form id=@(Model.TableName + "CreateForm")> </form>
                            <button type="submit" form=@(Model.TableName + "CreateForm") aria-label="Create new Item" class="btn-general"><i class="bi bi-plus-lg"></i></button>
                        </td>
                    </tr>
                    @if (Model.TableName == "income")
                    {
                        @foreach (Income income in Model.Incomes)
                        {
                            <tr data-id="@income.Id">
                                <td data-cell="Amount">
                                    <span class="amount-text">$ @Html.DisplayFor(model => income.Amount)</span>
                                    <input class="hiddenElement" value="@income.Amount" name="Amount" type="number" step="0.01" min="1" form="@(Model.TableName + "Form" + "-" + income.Id)" placeholder="100" required />
                                </td>
                                <td data-cell="Date">
                                    <span class="date-text">@Html.DisplayFor(model => income.Date)</span>
                                    <input class="hiddenElement" value="@income.Date.ToString("yyyy-MM-dd")" name="Date" type="date" form="@(Model.TableName + "Form" + "-" + income.Id)" required />
                                </td>
                                <td data-cell="Category">
                                    <span>@Html.DisplayFor(model => income.IncomeCategory.Name)</span>
                                    <select class="hiddenElement" name="CategoryId" form="@(Model.TableName + "Form" + "-" + income.Id)" required>
                                        <option value="">Select Category...</option>
                                        @foreach (IncomeCategory incomeCategory in Model.IncomeCategories)
                                        {
                                            @if (incomeCategory.IncomeCategoryId == income.IncomeCategoryId)
                                            {
                                                <option selected value="@incomeCategory.IncomeCategoryId">@incomeCategory.Name</option>

                                            }
                                            else
                                            {
                                                <option value="@incomeCategory.IncomeCategoryId">@incomeCategory.Name</option>

                                            }
                                        }
                                    </select>
                                </td>
                                <td data-cell="Account">
                                    <span>@Html.DisplayFor(model => income.Account.Name)</span>
                                    <select class="hiddenElement" name="AccountId" form="@(Model.TableName + "Form" + "-" + income.Id)" required>
                                        <option value="">Select Payment...</option>
                                        @foreach (Account account in Model.Accounts)
                                        {
                                            @if (account.AccountId == income.AccountId)
                                            {
                                                <option selected value="@account.AccountId">@account.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@account.AccountId">@account.Name</option>

                                            }
                                        }
                                    </select>
                                </td>
                                <td data-cell="Description">
                                    <span>@Html.DisplayFor(model => income.Description)</span>
                                    <input class="hiddenElement" value="@income.Description" maxlength="15" name="Description" type="text" form="@(Model.TableName + "Form" + "-" + income.Id)" />
                                </td>
                                <td data-cell="Action">
                                    <form id=@(Model.TableName + "Form" + "-" + income.Id)> </form>
                                    <div class="row justify-content-start">
                                        <div class="col-auto pe-0 ps-1">
                                            <button data-index="@income.Id" id=@(Model.TableName + "showEditFormBtn" + "-" + income.Id) aria-label="Edit Income" class="@(Model.TableName + "-edit-btn") btn-general"><i class="bi bi-pencil-square"></i></button>
                                            <button data-index="@income.Id" id=@(Model.TableName + "updateBtn" + "-" + income.Id) type="submit" form=@(Model.TableName + "Form" + "-" + income.Id) aria-label="Update Income" class="hiddenElement @(Model.TableName + "-update-btn") btn-general "><i class="bi bi-arrow-repeat"></i></button>
                                        </div>
                                        <div class="col-auto pe-0 ps-1">
                                            <button data-index="@income.Id" id=@(Model.TableName + "deleteBtn" + "-" + income.Id) aria-label="Delete Income" class="@(Model.TableName + "-delete-btn")"><i class="bi bi-trash"></i></button>
                                            <button data-index="@income.Id" id=@(Model.TableName + "cancelEditFormBtn" + "-" + income.Id) aria-label="Cancel Update" class="hiddenElement @(Model.TableName + "-cancel-btn") "><i class="bi bi-x"></i></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else if (Model.TableName == "expense")
                    {
                        @foreach (Expense expense in Model.Expenses)
                        {

                            <tr data-id="@expense.Id">
                                <td>
                                    <span class="amount-text">$ @Html.DisplayFor(model => expense.Amount)</span>
                                    <input class="hiddenElement" value="@expense.Amount" name="Amount" type="number" step="0.01" min="1" form="@(Model.TableName + "Form" + "-" + expense.Id)" placeholder="100" required />

                                </td>
                                <td>
                                    <span class="date-text">@Html.DisplayFor(model => expense.Date)</span>
                                    <input class="hiddenElement" value="@expense.Date.ToString("yyyy-MM-dd")" name="Date" type="date" form="@(Model.TableName + "Form" + "-" + expense.Id)" required />

                                </td>
                                <td>
                                    <span>@Html.DisplayFor(model => expense.ExpenseCategory.Name)</span>
                                    <select class="hiddenElement" name="CategoryId" form="@(Model.TableName + "Form" + "-" + expense.Id)" required>
                                        <option value="">Select Category...</option>
                                        @foreach (ExpenseCategory expenseCategory in Model.ExpenseCategories)
                                        {
                                            @if (expenseCategory.ExpenseCategoryId == expense.ExpenseCategoryId)
                                            {
                                                <option selected value="@expenseCategory.ExpenseCategoryId">@expenseCategory.Name</option>

                                            }
                                            else
                                            {
                                                <option value="@expenseCategory.ExpenseCategoryId">@expenseCategory.Name</option>

                                            }
                                        }
                                    </select>
                                </td>
                                <td>
                                    @if (expense.Account != null)
                                    {
                                        <span class="payment-debit-text">@Html.DisplayFor(model => expense.Account.Name)</span>

                                    }
                                    else if (expense.CreditCard != null)
                                    {
                                        <span class="payment-credit-text">@Html.DisplayFor(model => expense.CreditCard.Name)</span>

                                    }
                                    else
                                    {
                                        <span class="payment-debt-text">@Html.DisplayFor(model => expense.Debt.Entity)</span>

                                    }
                                    <select id="paymentSelectList-@expense.Id" class="hiddenElement" name="" form="@(Model.TableName + "Form" + "-" + expense.Id)" required>
                                        <option value="">Select Account...</option>
                                        @foreach (Account account in Model.Accounts)
                                        {
                                            @if (account.AccountId == expense.AccountId)
                                            {
                                                <option data-name="AccountId" selected value="@account.AccountId">@account.Name</option>
                                            }
                                            else
                                            {
                                                <option data-name="AccountId" value="@account.AccountId">@account.Name</option>

                                            }
                                        }
                                        <option value="">Select Credit Card...</option>
                                        @foreach (CreditCard creditCard in Model.CreditCards)
                                        {
                                            @if (creditCard.CreditCardId == expense.CreditCardId)
                                            {
                                                <option data-name="CreditCardId" selected value="@creditCard.CreditCardId">@creditCard.Name</option>
                                            }
                                            else
                                            {
                                                <option data-name="CreditCardId" value="@creditCard.CreditCardId">@creditCard.Name</option>

                                            }
                                        }
                                        <option value="">Select Debt...</option>
                                        @foreach (Debt debt in Model.Debts)
                                        {
                                            @if (debt.DebtId == expense.DebtId)
                                            {
                                                <option data-name="DebtId" selected value="@debt.DebtId">@debt.Entity</option>
                                            }
                                            else
                                            {
                                                <option data-name="DebtId" value="@debt.DebtId">@debt.Entity</option>

                                            }
                                        }
                                    </select>

                                </td>
                                <td>
                                    <span>@Html.DisplayFor(model => expense.Description)</span>
                                    <input class="hiddenElement" value="@expense.Description" name="Description" type="text" form="@(Model.TableName + "Form" + "-" + expense.Id)" />

                                </td>
                                <td>
                                    <form id=@(Model.TableName + "Form" + "-" + expense.Id)> </form>
                                    <div class="row justify-content-start">
                                        <div class="col-auto pe-0 ps-1">
                                            <button data-index="@expense.Id" id=@(Model.TableName + "showEditFormBtn" + "-" + expense.Id) aria-label="Edit Item" class="@(Model.TableName + "-edit-btn") btn-general"><i class="bi bi-pencil-square"></i></button>
                                            <button data-index="@expense.Id" id=@(Model.TableName + "updateBtn" + "-" + expense.Id) type="submit" form=@(Model.TableName + "Form" + "-" + expense.Id) aria-label="Update Item" class="hiddenElement @(Model.TableName + "-update-btn") btn-general"><i class="bi bi-arrow-repeat"></i></button>
                                        </div>
                                        <div class="col-auto pe-0 ps-1">
                                            <button data-index="@expense.Id" id=@(Model.TableName + "deleteBtn" + "-" + expense.Id) aria-label="Delete Item" class="@(Model.TableName + "-delete-btn")"><i class="bi bi-trash"></i></button>
                                            <button data-index="@expense.Id" id=@(Model.TableName + "cancelEditFormBtn" + "-" + expense.Id) aria-label="CancelUpdate" class="hiddenElement @(Model.TableName + "-cancel-btn") "><i class="bi bi-x"></i></button>
                                        </div>
                                    </div>


                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
    
    
    <div class="row justify-content-between mb-2">
        <div class="col-4 align-self-center pe-0">
            <p id=@(Model.TableName + "sShowedText") class="text-color mb-0 ms-3">

            </p>
            
            @if (Model.TableName == "income")
            {
                <input id=@(Model.TableName + "FilteredTotalInput") hidden value="@Model.FilteredIncomesCount" />
            }
            else
            {
                <input id=@(Model.TableName + "FilteredTotalInput") hidden value="@Model.FilteredExpensesCount" />
            }
            
        </div>
        <div class="col-6 align-self-center ps-0 pe-1 me-4">
            <div class="float-end">
                <button id=@(Model.TableName + "FirstPageBtn") aria-label="First page" class="btn-general">
                    <i class="bi bi-chevron-double-left"></i>
                </button>


                <button id=@(Model.TableName + "PreviousPageBtn") aria-label="Previous Page" class="btn-general">
                    <i class="bi bi-chevron-left"></i>
                </button>



                <button data-id="1" class="btn-general btn-@(Model.TableName)-pagination">
                </button>


                <button data-id="2" class="btn-general btn-@(Model.TableName)-pagination">
                </button>


                <button data-id="3" class="btn-general btn-@(Model.TableName)-pagination">
                </button>


                <button data-id="4" class="btn-general btn-@(Model.TableName)-pagination">
                </button>


                <button data-id="5" class="btn-general btn-@(Model.TableName)-pagination">
                </button>



                <button id=@(Model.TableName + "NextPageBtn") aria-label="Next Page" class="btn-general">
                    <i class="bi bi-chevron-right"></i>
                </button>


                <button id=@(Model.TableName + "LastPageBtn") aria-label="Last page" class="btn-general">
                    <i class="bi bi-chevron-double-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>



           